.main-container {
  padding-right: 0;
  overflow-x: hidden;
}

.cities-group {
  padding-left: 0;
}

.cities-title.list-group-item:first-child {
  border-radius: 0;
  background-color: #292B2C;
  color: white;
}

.city-menu {
  font-size: 80%;
  padding: 3px;
  cursor: pointer;
}
.city-menu.active .badge {
  background-color: white;
  color: var(--color-secondary);
}
.members-container {
  margin-top: 15px;
  margin-right: 15px;
  /* display: grid;
  grid-template-columns: repeat(3, 300px); */
  display: flex;
  flex-wrap: wrap;
}
.members-container>* {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
}
.member {
  padding: 0;
  box-shadow: 5px 10px 10px 2px lightgray;
  border-radius: 5px;
  margin: 1rem;
}
.member-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover !important;
  padding: 10px;
  font-size: 40px;
  display: flex;
  flex-grow: 1;
}
.member-header>*{
  flex-basis: auto;
}
.member-picture-shadow {
  /* filter: drop-shadow(0px 0px 8px grey); */
}
.member-picture {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  /* clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%); */
  /* clip-path: circle(50% at 50% 50%); */
  /* box-shadow: 0 0 8px 8px grey; */
  /* border: 4px solid grey; */
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
}
.member-picture img {
  width: 100%;
  height: auto;
}
.member-bio {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
}
.member-name {
  font-family: 'Caveat', cursive;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-secondary);
}
.member-title {
  font-size: 1.5rem;
}
.member-location {
  font-size: 1.3rem;
}
.member-name a {
  color: black;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}
.member-name a:hover {
  text-decoration: none;
}
.member-name a:hover:before {
  content: '\f0c1';
  font-size: 80%;
  color: #ccc;
  margin-right: 5px;
  font-family: FontAwesome;
}
.member-skills {
}
.member-links {
  font-size: 1.5rem;
}
.member-skills,
.member-links {
  border-top: solid 1px #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f7f7f9;
  padding: 1em;
}
.member-links a {
  color: var(--color-secondary);
}
.member-skills > span,
.member-links > span {
  margin-right: 10px;
}

.copyrights {
	color: #ccc;
	font-size: 12px;
}


.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}


/* Spinning logo, from https://codepen.io/arthurcamara1/pen/QgKjov */

:root {
  --color-bg: #292B2C;
  --color-primary: #EF5B7E;
  --color-secondary: #5bc0de;
  --font-family: 'Fredoka One', sans-serif;
  --animation-speed: 10s;
}

.logo {
  height: 50px;
}

.logo img {
  height: 100%;
}

.loading-message {
  transition: display 1s;
}

[v-cloak] {
  display: none;
}
.inverse-cloak[v-cloak] {
  display: block;
}
.inverse-cloak:not([v-cloak]) {
  display: none;
}

.active {
  background-color: var(--color-secondary)!important;
  border-color: var(--color-secondary)!important;
}