<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Les membres de Hack your job</title>

  <meta name="description" content="La liste des membres de Hack your job par villes et par compétences" />

  <link rel="icon" href="favicon.ico"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="stylesheet" media="screen" href="css/baggers.css"/>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

  <!-- Retrieve job hacker's list from profile-data repo -->
  <script src="/profiles-data/job-hackers.js"></script>
  <!-- Clean that data... -->
  <script src="js/clean-bagger-data.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>

  <script type="text/javascript">
/*
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38399904-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    */
    </script>
</head>

<body>
  <div id="app-vue">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top">
      <span class="logo">HYJ</span>
      <a class="navbar-brand" href="#">Hack your job</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   style="width: 350px"
                   placeholder="Chercher un(e) bagger, une technologie..."
                   v-model="filtering">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
          </div>
        </form>
      </div>
    </nav>

    <div class="container-fluid main-container">

      <div class="row loading-message inverse-cloak" v-cloak>
        <div class="col-12" >
          <h1>Nous retrouvons la liste des job hackers... Une petite minute !</h1>

          <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
          </div>
        </div>
      </div>

      <div class="row" v-cloak>
        <!-- Liste des villes -->
        <div class="col-sm-2 cities-group">
            <ul class="list-group cities-list">
              <li class="list-group-item list-group-item-inverse cities-title">Choisissez la ville</li>
              <li class="list-group-item justify-content-between list-group-item-action city-menu"
                  :class="{ active: selectedCity === null }"
                  @click="selectedCity = null">
                Toutes les villes <span class="badge badge-primary badge-pill">{{ baggers.length }}</span>
              </li>
              <li class="list-group-item justify-content-between list-group-item-action city-menu"
                  :class="{ active: selectedCity === city.name }"
                  v-for="city in cities"
                  @click="selectedCity = city.name">
                {{ city.name }}
                <span class="badge badge-primary badge-pill">{{ city.baggers }}</span>
              </li>
            </ul>
          </div>
        <div class="col-10 col-sm-10">
          <h1>{{ baggersFilteredCount }} job hackers</h1>

          <div class="row" v-if="baggersFilteredCount === 0">
            <div class="col-12">
              <h4><i class="fa fa-search text-danger"></i> Aucune personne correspondante à vos critères n'a été trouvée...</h4>
            </div>
          </div>

          <!-- Liste (filtrée) des job hackers... -->
          <div class="row justify-content-center">
            <div v-for="bagger in displayedBaggers" class="col-sm-6 col-xs-12">
              <div class="bagger">
                <a :id="bagger.id"></a>
                <div :class="'bagger-header ' + bagger.mainCity">
                  {{ bagger.cities[0] }}
                  <div class="bagger-picture">
                    <img :src="bagger.picture">
                  </div>
                </div>

                <div class="bagger-bio">
                  <div class="row">
                    <div class="col-xs-8 col-sm-9">
                      <h4 class="bagger-name"><a :href="'#' + bagger.id">{{ bagger.name }}</a></h4>
                      <p v-html="bagger.bio"></p>
                    </div>
                    <div class="col-xs-4 col-sm-3 text-right">
                      <a href="#" class="btn btn-primary" @click="openContactModal(bagger)"><i class="fa fa-cutlery"></i> Inviter</a>
                    </div>
                  </div>
                  <span class="text-muted"><i class="fa fa-map-marker"></i> {{ bagger.location }}</span>
                </div>

                <div class="bagger-presentations">
                  <ul class="list-group list-group-flush bagger-sessions">
                    <li class="list-group-item bagger-session" v-for="session in bagger.sessions">
                      <span class="bagger-session-title" @click="session.opened = !session.opened">
                        <i v-if="!session.opened" class="fa fa-caret-right"></i>
                        <i v-if="session.opened" class="fa fa-caret-down"></i>
                        {{ session.title }}
                      </span>
                      <div>
                        <span v-for="tag in session.tags" class="badge badge-pill badge-info">{{ tag }}</span>
                      </div>
                      <div v-if="session.opened" class="bagger-session-abstract">
                        <blockquote class="blockquote" v-html="session.abstract"></blockquote>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="bagger-links">
                  <span v-if="bagger.contacts.twitter">
                    <a :href="'https://twitter.com/' + bagger.contacts.twitter" target="_blank"><i class="fa fa-twitter"></i> @{{ bagger.contacts.twitter }}</a>
                  </span>
                  <span v-for="site in bagger.websites">
                    <a :href="site.url" target="_blank"><i class="fa fa-globe"></i> {{ site.name }}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="copyrights text-right">
      <i class="fa fa-creative-commons"></i> Site forké à partir de <a href="https://github.com/brownbaglunch/BrownBagLunch">brown bag lunch</a>
    </div>
  </div>

  <!-- Footer -->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">Hack your job</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.hackyourjob.com/" target="_blank"><i class="fa fa-github-alt"></i> Rejoignez la communauté Hack your job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/HackYrJob" target="_blank"><i class="fa fa-twitter"></i> @HackYrJob</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- ... then start the VueJS application. -->
  <script src="js/vue-app.js"></script>
</body>
</html>
